doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='styles.scss')

  body
    .clock
      .center
        .pin
      .wheel
        .gradient

    script(src="index.js")
