:root {
  --degrees: 180deg;

  --nadir-color: #263238;
  --nightEnd-color: #37474f;
  --nauticalDawn-color: #f57c00;
  --dawn-color: #fb8c00;
  --sunrise-color: #ff9800;
  --sunriseEnd-color: #ffa726;
  --goldenHourEnd-color: #fff59d;

  --solarNoon-color: #4fc3f7;
  --goldenHour-color: #fff59d;
  --sunsetStart-color: #90a4ae;
  --sunset-color: #78909c;
  --dusk-color: #607d8b;
  --nauticalDusk-color: #546e7a;
  --night-color: #37474f;

  --nadir-deg: 4.25deg;
  --nightEnd-deg: 74deg;
  --nauticalDawn-deg: 81.75deg;
  --dawn-deg: 89.25deg;
  --sunrise-deg: 95.75deg;
  --sunriseEnd-deg: 96.50deg;
  --goldenHourEnd-deg: 104.50deg;

  --solarNoon-deg: 184.25deg;
  --goldenHour-deg: 264deg;
  --sunsetStart-deg: 272deg;
  --sunset-deg: 272.75deg;
  --dusk-deg: 279.25deg;
  --nauticalDusk-deg: 286.75deg;
  --night-deg: 294.50deg;

}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: rotate(180deg);
  // filter: blur(0.5rem);

    // var(--nauticalDawn-color) var(--nauticalDawn-deg),
    // var(--dawn-color) var(--dawn-deg),
    // var(--sunrise-color) var(--sunrise-deg),
    // var(--sunriseEnd-color) var(--sunriseEnd-deg),
    //
    // var(--sunsetStart-color) var(--sunsetStart-deg),
    // var(--sunset-color) var(--sunset-deg),
    // var(--dusk-color) var(--dusk-deg),
    // var(--nauticalDawn-color) var(--nauticalDawn-deg),

  background: conic-gradient(
    from var(--nadir-deg),
    var(--nadir-color),
    var(--nightEnd-color) var(--nightEnd-deg),
    var(--goldenHourEnd-color) var(--goldenHourEnd-deg),
    var(--solarNoon-color) var(--solarNoon-deg),
    var(--goldenHour-color) var(--goldenHour-deg),
    var(--night-color) var(--night-deg),
    var(--nadir-color),
  );
}

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #111, #555);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  margin: 30px auto 0;
  width: 13em;
  height: 13em;
  border-radius: 3em;
  position: relative;
  background-image: linear-gradient(to bottom, #ddd, #d5d5d5);
  box-shadow:
    inset 0 3px 7px 0px #FFF,
    inset 0 -5px 5px 0px rgba(0, 0, 0, 0.2),
    0 27px 51px -10px rgba(0, 0, 0, 0.5);
  &:before, &:after {
    box-sizing: border-box;
    display: block;
  }
  &:before {
    @include circle(12.5em);
    background-image: linear-gradient(to bottom, #fff, #aaa);
    filter: blur(4px);
  }
  &:after {
    @include circle(11em);
    background-image: linear-gradient(to bottom, #c5c5c5, #ddd 80%);
    box-shadow: 0 4px 28px -10px rgba(0, 0, 0, 0.2);
  }
}

.wheel {
  @include circle(9.5rem);
  display: block;
  z-index: 1;
  box-shadow: inset 0 16px 32px 14px rgba(0, 0, 0, .7);
}

.center {
  @include circle(6.3em);
  z-index: 2;
  background-image: linear-gradient(to bottom, #eee, #ccc);
  box-shadow: inset 0 3px 7px 0px #FFF, 0 25px 30px -5px rgba(0, 0, 0, 0.5);
  &:before {
    @include circle(4.2em);
    background-image: linear-gradient(to bottom, #FFF 20%, #AAA);
    box-shadow: 0 25px 30px -5px rgba(0, 0, 0, .5);
  }
  &:after {
    @include circle(3em);
    background-image: linear-gradient(to bottom, #aaa, #f5f5f5 80%);
    box-shadow: inset 0 -1px 4px 0px #FFF;
  }
}

.pin {
  @include circle(5.5em);
  transition: 1s all;
  z-index: -1;
  transform: rotate(calc(225deg + var(--degrees)));

  // For demo purposes only:
  // animation: spin infinite 4s linear;

  &:after {
    content: "";
    width: 40px;
    height: 40px;
    transform: rotate(10deg) skew(40deg, 20deg);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.1), 0 0 15px 3px rgba(0,0,0,.2);
    background: #FFF;
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 10px;
  }
}

@keyframes spin {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
